body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 1em;
}

button {
  height: 20px;
  width: 100px;
}

label{
  float: left;
  clear: left;
  width: 150px;
  text-align: left; /*Change to right here if you want it close to the inputs*/
}